.svg-bounding {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 326px;
    height: 440px;
    border: 3.5px solid #FFF;
    border-radius: 3%;
    background:  white -108.767px 0px / 129.239% 100% no-repeat;
    overflow: hidden;
}

.auto-map {
    position: relative;
    margin: auto;
    top: 0;
    display: flex;
    width: 106%;
    right: 3%;
    height: 600px;
    top: -155px;
}