:root {
  --box: #FFF;
  --boxglow: rgba(255, 255, 255, 0.2);
}

[data-theme='dark'] {
  --box: #ffee00;
  --boxglow: rgba(231, 248, 3, 0.2);
}

.svg-bounding {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100%-3px);
  height: 440px;
  border: 3.5px solid var(--box);
  background: #181D2A;
  box-shadow: 0px 0px 30px 4px var(--boxglow);
  border-radius: 12px;
  overflow: hidden;
}

.auto-map {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 104%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
}

.position-bounds {
  margin-top: 14px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

.position-button {
  display: inline-flex;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(245, 245, 245, 0.3);
  border-radius: 8px;
  background: #12162054;
  box-shadow: 0px 0px 30px 4px rgba(255, 255, 255, 0.2);
  width: 30%;
  height: 46px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.note-button {
  bottom: 336px;
  left: 5vw;
  width: 10vw;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0);
  border: 6px solid #eba014 ;
  border-radius: 50%;
}

.notes-upper, .notes-lower {
  position: absolute;
  justify-content: space-around;
}

.notes-lower {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 0;
  left: 0;
  height: 100%;
  margin-top: calc(-20vw + 423px);
  width: 50%;
}

.hide{
  display:none;
}
  
.show{
  display:block;
}  

.rednotes {
  margin-left: 43%;
}

.bluenotes {
  margin-left: 7%;
}

.notes-upper {
  position: absolute;
  display: flex;
  justify-content: space-around;
  margin-top: calc(-88vw + 426px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.note-button-hidden {
  opacity: 0;
  cursor: default;
}

.position-button.selected {
  border: 2px solid #fff;
  background: rgba(145, 145, 145, 0.2);
  box-shadow: 0px 0px 30px 4px rgba(255, 255, 255, 0.3);
  color: "white";
  transition: 0.4s;
}

.scroll-buffer {
    height: 120px;
    width: 100%;
}