@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*

monkeymonkey

var(--highlight-color);
var(--glow);
*/

:root {
  --bigbutton: rgba(255, 255, 255, 0.20);
  --biggerbutton: rgba(255, 255, 255, 0.4);
  --texttt: rgba(255, 255, 255, 0.5);
  --whart: #000614;
  --holdupp: #0a101f;
}

[data-theme='dark'] {
  --bigbutton: rgba(238, 255, 0, 0.2);
  --biggerbutton: rgba(234, 255, 0, 0.4);
  --texttt: rgba(251, 251, 119, 0.5);
  --whart: #ffec1d;
  --holdupp: #999999;
}


body {
  font-family: "Poppins", sans-serif;
  background: var(--whart);
  overflow-x: hidden;
  padding-left: 7vw;
  padding-right: 7vw;
  display: flex;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.teleop-text {
  text-align: left;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--whart);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.icon {
  width: 1.8em;
  height: 1.8em;
  vertical-align: -0.4em;
}

/*test.App-telop-text{
  background: linear-gradient(177deg, #FFF 2.26%, rgba(255, 255, 255, 0.00) 165.48%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.unselectedBTN {
  border-radius: 10px;
  width: 86vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11.7vh;
  color: var(--texttt);
  border: 1px solid #2f3953;
  background: rgba(217, 217, 217, 0);
  box-shadow: 0px 0px 40px 10px var(--bigbutton);
  transition: all;
  margin-bottom: 2vh;
  animation-duration: 1s;
  transition: '.2s',
}

.selectedBTN {
  border-radius: 10px;
  width: 86vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11.7vh;
  color: rgba(255, 255, 255);
  transition: all;
  animation-duration: 1s;
  border-radius: 10px;
  margin-bottom: 2vh;
  border: 1px solid #fff;
  background: rgba(145, 145, 145, 0.2);
  box-shadow: 0px 0px 20px 5px var(--biggerbutton);
  transition: '.2s',
}

.teamBTN {
  border-radius: 10px;
  border: 1px solid #2f3953;
  background: rgba(217, 217, 217, 0);
  box-shadow: 0px 0px 40px 5px var(--bigbutton);
  width: 26vw;
  height: 26vw;
  transition: .2s;
}

.teamBTNSelected {
  width: 26vw;
  height: 26vw;
  border-radius: 10px;
  border: 1px solid #fff;
  background: rgba(145, 145, 145, 0.2);
  box-shadow: 0px 0px 20px 5px var(--biggerbutton);
  color: "white";
  transition: .2s;
}

::-webkit-scrollbar {
  display: none;
}

.teamModalButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.554);
  background: #000614;
  box-shadow: 0px 0px 100.9px 5px rgba(255, 255, 255, 0.2);
  margin: 10px auto;
  color: rgba(232, 232, 232, 0.887);
  padding: 5px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 60px;
  line-height: normal;
  transition: 0.3s ease;
}

.teamModalButton-glow {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 0px 50px 3px rgba(231, 116, 116, 0.3); 
  color: aliceblue;
  font-weight: 450;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -100%;
    top: -100%;
    width: 300%;
    height: 300%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
  }
  
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: var(--whart);
    border-radius: 10px;
  }
}

.team-numbers,
.position-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  flex-shrink: 0;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.554);
  background: #000614;
  box-shadow: 0px 0px 100.9px 5px rgba(255, 255, 255, 0.2);
  margin: 0px auto;
  display: block;
  color: rgba(232, 232, 232, 0.887);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.modalthingpopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--holdupp);
  padding: 20px;
  border-radius: 10px;
  border: 3px solid rgba(245, 245, 245, 0.3);
  text-align: left;
  margin: auto;
  color: rgba(255, 255, 255, 0.750);
  width: 80%;
  height: 70%;
  overflow: scroll;
  z-index: 999;
}  

.mapStyle {
  position: relative;
  width: 100%;
  border: 3px solid #8b8b8b;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 5px;
}

.modalwharpopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--holdupp);
  padding: 20px;
  border-radius: 16px;
  border: 3px solid rgba(245, 245, 245, 0.3);
  text-align: left;
  margin: auto;
  color: rgba(255, 255, 255, 0.750);
  width: 80%;
  height: 35%;
  overflow: scroll;
  z-index: 9999;
}  

.position-selected,
.team-number-selected {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255);
  border-radius: 10px;
  border: 1px solid #fff;
  background: rgba(145, 145, 145, 0.2);
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.4);
}

.modal-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.position-buttons-container,
.team-numbers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px
}

.team-numbersarecool {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px
}

.position-buttons,
.team-numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blue-team, .red-team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}