:root {
    --wharttt: #1E232E;
}

[data-theme='dark'] {
    --wharttt: rgb(171, 171, 171);
}

.toastNotifLayout {
    visibility: hidden;
    border-radius: 10px;
    border: 1px solid #ffb9b9;
    background: var(--wharttt);
    box-shadow: 0px 0px 42.3px 2px rgba(255, 185, 185, 0.1) inset, 0px 0px 42.3px 5px rgba(255, 185, 185, 0.25);
    position: absolute;
    width: 360px;
    height: 60px;
    top: 50px;
    left: 50%; 
    z-index: 99;
    transform: translateX(-50%); 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.toastNotifLayout img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    opacity: 0.8;
}

#toastContentsLayout {
    display: inline-flex;
    color: #ffb9b9;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 5%;
}

.animateLayout {
    visibility: visible;
    animation:
     fadein 0.3s ease-out, 
     expand 0.3s ease-out 0.3s,
     stay 1s 0.6s ease-out, 
     fadeout 0.4s 1s ease-out;
     -webkit-animation:
     fadein 0.3s ease-out, 
     expand 0.3s ease-out 0.3s,
     stay 1s 0.6s ease-out, 
     fadeout 0.4s 1s ease-out;
}

@-webkit-keyframes fadein {
    from { top: 0; opacity: 0; } 
    to { top: 50px; opacity: 1; }
}

@keyframes fadein {
    from { top: 0; opacity: 0; }
    to { top: 50px; opacity: 1; }
}

@-webkit-keyframes expand {
    from { min-width: 300px; } 
    to { min-width: 350px; }
}

@keyframes expand {
    from { min-width: 300px; }
    to { min-width: 350px; }
}

@-webkit-keyframes stay {
    from { min-width: 350px; } 
    to { min-width: 350px; }
}

@keyframes stay {
    from { min-width: 350px; }
    to { min-width: 350px; }
}

@-webkit-keyframes fadeout {
    from { top: 50px; opacity: 1; } 
    to { top: 0; opacity: 0; }
}

@keyframes fadeout {
    from { top: 50px; opacity: 1; }
    to { top: 0; opacity: 0; }
}