:root {
  --highlight-color: #000614;
  --glow: rgba(255, 255, 255, 0.2);
  --glowmore: rgba(255, 255, 255, 0.20);
}

[data-theme='dark'] {
  --highlight-color: #fff;
  --glow: rgba(242, 228, 36, 0.2);
  --glowmore: rgba(242, 228, 36, 0.329);
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.button-container {
  display: flex;
  position: relative;
  width: 374px;
  max-width: 87%;
}

.NextButton {
  width: 115px;
  height: 46px;
  flex-shrink: 0;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.20);
  background: #000614;
  box-shadow: 0px 0px 100.9px 5px var(--glow);
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.10);
  padding: 5px;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
}

.BlueButton,
.RedButton,
.QuantitativeButton,
.QualitiativeButton {
  display: flex;
  align-items: center;
  padding-left: 10px;
  max-width: 49%;
  width: 220px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.QuantitativeButton {
  border: 2px solid #cdb03f;
  background: #1d17033b;
  position: relative;
  left: 0;
}

.QualitiativeButton {
  border: 2px solid #cdb03f;
  background: #1d17033b;
  margin-left: auto;
  text-align: center;
}

.BlueButton {
  border: 2px solid rgb(74, 131, 255);
  background: #000a2d;
  position: relative;
  left: 0;
}

.RedButton {
  border: 2px solid rgb(218, 56, 56);
  background: rgb(36, 0, 19);
  margin-left: auto;
  text-align: center;
}

.BlueButton.active {
  background-color: rgb(18, 89, 155);
  box-shadow: 0px 0px 50px 5px rgb(44, 63, 137, .6);
}

.RedButton.active {
  background-color: rgb(147, 18, 37);
  box-shadow: 0px 0px 50px 5px rgba(176, 47, 81, .6);
}

.QualitiativeButton.active {
  background-color: #8a7a3a;
  box-shadow: 0px 0px 50px 5px rgba(0, 163, 195, 0.2);
}

.QuantitativeButton.active {
  background-color: #8a7a3a;
  box-shadow: 0px 0px 50px 5px rgb(255, 127, 80, 0.2);
}


.textbox-container {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}

.Next {
  margin-top: 40px;
}

.glowing-textbox {
  width: 350px;
  height: 30px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: rgba(217, 217, 217, 0.00);
  box-shadow: 0px 0px 30px 5px var(--glowmore);  
  font-size: 18px;
  margin-top: 15px;
  max-width: 80%;
  margin: auto;
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.glowing-textbox:focus {
  border-radius: 10px;
  background: rgba(145, 145, 145, 0.20);
  box-shadow: 0px 0px 51px 5px var(--glowmore);
}

.glowing-dropdown {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}

.glowing-dropdown-input {
  width: 350px;
  height: 30px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: rgba(217, 217, 217, 0.00);
  box-shadow: 0px 0px 30px 5px var(--glowmore);  
  font-size: 18px;
  margin-top: 15px;
  max-width: 80%;
  margin: auto;
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
  
.glowing-dropdown-input:focus {
  border-radius: 10px;
  background: rgba(145, 145, 145, 0.20);
  box-shadow: 0px 0px 51px 5px var(--glowmore);
} 
  

.text {
  color: white;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.Next.glow {
  position: relative;
  z-index: 0;
  width: 115px;
  height: 46px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 0px 50px 3px rgba(231, 116, 116, 0.3); 
  color: aliceblue;
  font-weight: 450;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -100%;
    top: -100%;
    width: 300%;
    height: 300%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
    animation: rotate 4s linear infinite;
  }
  
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #000614;
    border-radius: 10px;
  }
}

.Next.glow:active {
  position: relative;
  z-index: 0;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 0px 30px 4px rgba(231, 198, 116, 0.3); 
}

.Next.glow:hover {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 0px 30px 4px rgba(231, 198, 116, 0.3); 
}