.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.button-container {
  display: flex;
  position: relative;
  width: 374px;
  max-width: 87%;
}

.NextButton {
  width: 115px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: #000614;
  box-shadow: 0px 0px 100.9px 5px rgba(255, 255, 255, 0.24);
  padding-right: 30px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.BlueButton,
.RedButton,
.QuantitativeButton,
.QualitiativeButton {
  display: flex;
  align-items: center;
  padding-left: flex;
  max-width: 49%;
  width: 220px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 100.9px 5px transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.QuantitativeButton {
  border: 2px solid #FF7F50;
  box-shadow: 0px 0px 50px 5px rgb(255, 127, 80, 0.449);
  background: #000a2d;
  position: relative;
  left: 0;
}

.QualitiativeButton {
  border: 2px solid #71c7ec;
  box-shadow: 0px 0px 50px 5px rgba(0, 163, 195, 0.499);
  background: #000a2d;
  position: relative;
  left: 7px;
}

.BlueButton {
  border: 2px solid rgb(74, 131, 255);
  box-shadow: 0px 0px 50px 5px rgb(44, 63, 137);
  background: #000a2d;
  position: relative;
  left: 0;
  text-align: center;

}

.RedButton {
  border: 2px solid rgb(218, 56, 56);
  box-shadow: 0px 0px 50px 5px rgba(176, 47, 81);
  background: rgb(36, 0, 19);
  margin-left: auto;
  text-align: center;
}

.BlueButton.active {
  background-color: rgb(42, 67, 121);
}

.RedButton.active {
  background-color: rgb(188, 0, 28);
}

.textbox-container {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}

.Next {
  margin-top: 40px;
}

.glowing-textbox {
  width: 350px;
  height: 30px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: rgba(217, 217, 217, 0.00);
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.50);  
  font-size: 20px;
  margin-top: 15px;
  max-width: 80%;
  margin: auto;
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.glowing-textbox:focus {
  border-radius: 20px;
  border: 1px solid #FFF;
  background: rgba(145, 145, 145, 0.20);
  box-shadow: 0px 0px 51px 5px rgba(255, 255, 255, 0.50);
}

.glowing-dropdown {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}

.glowing-dropdown-input {
  width: 350px;
  height: 30px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: rgba(217, 217, 217, 0.00);
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.50);  
  font-size: 20px;
  margin-top: 15px;
  max-width: 80%;
  margin: auto;
  color: rgba(255, 255, 255, 0.50);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.glowing-dropdown-input:focus {
  border-radius: 20px;
  border: 1px solid #FFF;
  background: rgba(145, 145, 145, 0.20);
  box-shadow: 0px 0px 51px 5px rgba(255, 255, 255, 0.50);
}

.text {
  color: white;
}