.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 17px;
}

.NextButton {
  width: 115px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: #000614;
  box-shadow: 0px 0px 100.9px 5px rgba(255, 255, 255, 0.24);
  color: grey;
  font-size: 20px;
  padding-right: 30px;
  margin-top: 17px;
}

.BlueButton,
.RedButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  border: 2px solid transparent;
  box-shadow: 0px 0px 100.9px 5px transparent;
  cursor: pointer;
  color: #C4C4C4;
  transition: background-color 0.3s ease;
}

.BlueButton {
  border: 2px solid rgb(0, 0, 186);
  box-shadow: 0px 0px 100.9px 5px blue;
}

.RedButton {
  border: 2px solid rgb(180, 0, 0);
  box-shadow: 0px 0px 100.9px 5px red;
}

.BlueButton.active {
  background-color: rgb(0, 0, 135);
}

.RedButton.active {
  background-color: rgb(122, 0, 0);
}

.textbox-container {
  position: relative;
}

.glowing-textbox {
  width: 350px;
  height: 30px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: rgba(217, 217, 217, 0.00);
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.50);  
  font-size: 20px;
  margin-top: 15px;
}

.glowing-textbox:focus {
  border-radius: 20px;
  border: 1px solid #FFF;
  background: rgba(145, 145, 145, 0.20);
  box-shadow: 0px 0px 51px 5px rgba(255, 255, 255, 0.50);
}

.glowing-dropdown-input {
  width: 350px;
  height: 30px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.50);
  background: rgba(217, 217, 217, 0.00);
  box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.50);  
  font-size: 20px;
  margin-top: 7px;
}

.glowing-dropdown-input:focus {
  border-radius: 20px;
  border: 1px solid #FFF;
  background: rgba(145, 145, 145, 0.20);
  box-shadow: 0px 0px 51px 5px rgba(255, 255, 255, 0.50);
}

.text {
  color: white;
}