.topBar {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 15px;
    width: 87%;
}

.logo {
    display: flex;
    position: relative;
    width: 15%;
    margin-bottom: auto;
    z-index: -1;
}

.topButtons {
    display: flex;
    position: relative;
    width: 15%;
    margin-left: auto;
    flex-direction: column;
}

.button {
    margin-left: auto;
    margin-bottom: 8px;
    height: 40px;
    width: 40px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.50) 100%);;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.yellowOverlay {
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(rgb(255, 230, 0), rgb(255, 180, 0));
    z-index: 0;
    transition: 0.2s ease-in-out;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.buttonActive {
    visibility: show;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-image: linear-gradient(rgb(255, 230, 0), rgb(255, 180, 0));
    z-index: 0;
    transition: 0.2s ease-in-out;
}