.topBar {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 15px;
    width: 87%;
}

.logo {
    display: flex;
    position: relative;
    width: 15%;
    margin-bottom: auto;
}

.topButtons {
    display: flex;
    position: relative;
    width: 15%;
    margin-left: auto;
    flex-direction: column;
}

.button {
    margin-left: auto;
    margin-bottom: 8px;
    height: 40px;
    width: 40px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.50) 100%);;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.yellowOverlayShown {
    width: 10000px;
    height: 1000px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(rgb(255, 221, 0), rgb(255, 175, 77));
}

.yellowOverlayHidden {
    visibility: hidden;
}